


































.footer_area .footer_social {
    text-align: center;
    margin: 25px 0px 30px;
}

.footer_area .footer_social a i {
    color: #788489;
    font-size: 22px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.footer_area .footer_social a {
    padding: 0 20px;
}