@media (max-width: 991px){
.navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
}
}
































@media (max-width: 991px){
.navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
}
}
@media (max-width: 991px){
.header_area .navbar {
    background: #000;
}}



@media (max-width: 991px){
.navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
}}




@media (max-width: 991px){
.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
}}






















@media (max-width: 991px){
.navbar .container {
    padding-left: 15px;
    padding-right: 15px;
}
}